
<h3>Image Carousel</h3>
<amp-carousel width=800 height=600>
  <amp-img src="/img/happy.jpg" width=800 height=600></amp-img>
  <amp-img src="/img/happy.jpg" width=800 height=600></amp-img>
  <amp-img src="/img/happy.jpg" width=800 height=600></amp-img>
</amp-carousel>

<p>Note - carousels cannot be responsive (don't know why, just got warnings)</p>

{{!-- <h3>Tweet Carousel</h3>
<amp-carousel width=300 height=400>
  <amp-img src="my-img1.png" width=300 height=400></amp-img>
  <amp-img src="my-img2.png" width=300 height=400></amp-img>
  <amp-img src="my-img3.png" width=300 height=400></amp-img>
</amp-carousel> --}}