
<form id="some-test-form">
  <input type='text' name='first_name' placeholder='First Name' />
  <input type='text' name='last_name' placeholder='Last Name' />
  <input type='text' name='birthplace' placeholder='Birthplace' />
  <input type='email' name='email' placeholder='Email Address' />
  <button type='submit'>SUBMIT</button>
</form>

<script src='/js/ajax-form-submit.js'></script>
