<hr>
<form id="form-test-form" method="post" action="http://localhost:5000/submit/test" target="_top">
  <input type='text' name='first_name' placeholder='First Name' />
  <input type='text' name='last_name' placeholder='Last Name' />
  <input type='text' name='birthplace' placeholder='Birthplace' />
  <input type='email' name='email' placeholder='Email Address' />
  <input type='submit' value='SUBMIT'/>
</form>
