
<amp-img
  src="/img/happy.jpg"
  alt="Welcome"
  height="600"
  width="800"
  layout="responsive"
></amp-img>

<amp-user-notification
    layout=nodisplay
    id="amp-user-notification1"
    data-persist-dismissal="false"
    class="user-notification"
>
    We have some terms for you to read. Oh boy!!
    <a href="https://walloftext.com">Read Wall of Text</a>
    <br>
   <button on="tap:amp-user-notification1.dismiss">I Accept</button>
</amp-user-notification>
